.img_intro{
    margin-top: 18vw;
    margin-bottom: 20vw;
}

.btn_commencer{
    margin-bottom: 10px;
}

.bg-color{
    --background: linear-gradient(-45deg, #18c289, #e9f812);
    background-size: 500% 500%;
    animation: gradient 9s ease infinite;
    color:white;
    font-family: 'Century Gothic';
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}