
<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-toolbar class="bg-color">
        <ion-title>Cookso</ion-title>
        <ion-buttons slot="end">
          <ion-menu-button color="light" autoHide="false"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-col>
  </ion-row>

  <div class="m-top" >
    <ion-label class="categorie_name">Banana recipes</ion-label>
    <ion-label class="see_all" routerLink="/show-one-category/3">See all</ion-label>
    <ion-slides class="m-top" [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let r of recipes_banana" style="width: 200px;height: 200px; border: 2px solid #f8f8f8">
        <ion-col>
          <app-home-card-recipe [recipe]="r"></app-home-card-recipe>
        </ion-col>
      </ion-slide>
    </ion-slides>
    
  </div>
  <div class="m-top">
    <ion-label class="categorie_name">Brownie recipes</ion-label>
    <ion-label class="see_all" routerLink="/show-one-category/5">See all</ion-label>
    <ion-slides class="m-top" [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let r of recipes_brownie" style="width: 200px;height: 200px; border: 2px solid #f8f8f8">
        <ion-col>
          <app-home-card-recipe [recipe]="r"></app-home-card-recipe>
        </ion-col>
      </ion-slide>
    </ion-slides>
    
  </div>
  <div class="m-top">
    <ion-label class="categorie_name">Biscuit recipes</ion-label>
    <ion-label class="see_all" routerLink="/show-one-category/4">See all</ion-label>
    <ion-slides class="m-top" [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let r of recipes_biscuit" style="width: 200px;height: 200px; border: 2px solid #f8f8f8">
        <ion-col>
          <app-home-card-recipe [recipe]="r"></app-home-card-recipe>
        </ion-col>
      </ion-slide>
    </ion-slides>
    
  </div>
  <div class="m-top">
    <ion-label class="categorie_name">Chocolate baking recipes</ion-label>
    <ion-label class="see_all" routerLink="/show-one-category/7">See all</ion-label>
    <ion-slides class="m-top" [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let r of recipes_chocolate_baking" style="width: 200px;height: 200px; border: 2px solid #f8f8f8">
        <ion-col>
          <app-home-card-recipe [recipe]="r"></app-home-card-recipe>
        </ion-col>
      </ion-slide>
    </ion-slides>
    
  </div>
  <div class="m-top">
    <ion-label class="categorie_name">Fruity cake recipes</ion-label>
    <ion-label class="see_all" routerLink="/show-one-category/10">See all</ion-label>
    <ion-slides class="m-top" [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let r of recipes_fruity_cake" style="width: 200px;height: 200px; border: 2px solid #f8f8f8">
        <ion-col>
          <app-home-card-recipe [recipe]="r"></app-home-card-recipe>
        </ion-col>
      </ion-slide>
    </ion-slides>
    
  </div>
</ion-content>
